<style type="text/css">
  .app {
    height: 100%;
    display: grid;
    grid-template-columns: 1em 4fr 1em;
    grid-template-rows: 75px auto 75px;
    grid-template-areas:
    "header header header"
    ". form ."
    "footer footer footer";
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }
</style>

<!-- <div class="app">
  <div class="header">
    Ad et minim elit do id proident fugiat amet pariatur et cillum minim aute sunt ad quis amet nulla ea fugiat culpa in culpa nostrud nisi non deserunt nulla ut enim nulla.
  </div> -->
  
  <!-- <div class="footer">
    Ad et minim elit do id proident fugiat amet pariatur et cillum minim aute sunt ad quis amet nulla ea fugiat culpa in culpa nostrud nisi non deserunt nulla ut enim nulla.
  </div>
</div> -->