<style type="text/css">
  .form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    align-self: center;
  }

  .form > * {
    margin-bottom: 0.7em;
  }
</style>

<form class="form">
  <h1>Login to `Company`</h1>
  <label labelFor="username">Username</label>
  <input type="text" name="username" />
  <label labelFor="password">Password</label>
  <input type="password" name="password" />
  <div>
    <input type="checkbox" name="rememberMe" />
    <label labelFor="rememberMe">Remember Me?</label>
  </div>
  <input type="submit" value="Login" />
  <a href="register-form.html">Don't have an account? Sign up.</a>
</form>