<style type="text/css">
  .property-item {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .property-item > * {
    margin-right: 1em;
    margin-bottom: 1em;
  }
</style>

<div class="property-item">
  <div>2314 Wickersham Ln #110, Austin TX, 78741, United States</div>
  <a href="applicant-list.html">Applicants(0)</a>
  <a href="#">Share</a>
</div>

<!-- <div>1011 Forum Park Drive, Houston, TX, United States</div>
<a href="#">Applicants(0)</a>
<a href="#">Share</a>
<div>3410 East Cesar Chavez Street, Austin, TX, United States</div>
<a href="#">Applicants(0)</a>
<a href="#">Share</a> -->